div,form,h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-weight: 300;
    font-family: "Noto Sans TC",sans-serif;
    background: url('https://i.screenshot.net/qg2yqtx')
    center center;
}

h1 {
    font-weight: 300;
    font-size: 200%;
    font-family: "Press Start 2P";
    margin-top: 80px;
    letter-spacing: 6px;
    text-shadow:0.3em 0.3em 0.4em rgba(0,0,0,1);
}

h2 {
    font-size: 100%;
    letter-spacing: 4px;
    font-weight: 400;
    
}

h1::after {
    display: block;
    background-color: #e03d44;
    content: "";
    height: 2px;
    width: 365px;
    margin-top: 15px;  
}

.text-box {
    color: white;
    position: absolute;
    transform: translate(40%,110%)
}

.bottom {
    margin-top: 50px;
}

.btn:link {
    text-decoration:none;
    cursor: pointer;
    font-weight: 100;
    border-radius: 8px;
    padding: 5px 12px;
    transition: all 0.5s;
}

.btn:hover {
    filter:brightness(1.2);
}

.btn-full:link,
.btn-full:visited {
    background-color: #e03d44;
    color: white;
}

/*--菜單--*/

.nav {
    margin: 20px 0;
    padding-right: 0px;
}

.logo {
    font-weight: 800;
    letter-spacing: 2px;
    padding-left: 50px; 
    margin: auto;
}

.navbg {
    height: 70px;
    background-color: rgba(42,43,47,1);
    margin-top: 0;
}

.bg {
    margin-top: 0;
}

.nav-item{
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0 10px;
    padding: 0;
}

.nav-item a{
    color: white;
    text-decoration: none;
    transition: all 0.4s;
}

.nav-item a:hover {
    color: #e03d44;
}

/*--HEADER--*/

header {
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.4)),url(https://images5.alphacoders.com/720/thumb-1920-720131.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*---about-us---*/

.about-us {
    height: 35vh;

}

.title-row {
    margin-top: 40px;
    text-align: center;
}

.title-row h2 {
    font-size: 24px;
}

.dividerCenter  {
    height: 2px;
    width: 80px;
    background-color: #e03d44;
    margin: 15px auto;
}

.content {
    margin: 20px 0 50px 0;
}

.content p {
    font-size: 16px;
    line-height: 1.9;
}


/*---menu---*/

.menu {
    height: 465px;
}

.boxImage {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url('https://images.alphacoders.com/870/thumb-1920-870016.jpg');
    height: 465px;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 0.7s;  
    position: relative; 
    margin-top: 50px;
}

.boxImage:hover {
    cursor: pointer;
    filter:brightness(2);
}
.boxImage2 {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url('https://images8.alphacoders.com/988/thumb-1920-988762.jpg');
    height: 465px;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 0.7s;
    position: relative;  
    margin-top: 50px;  
}

.boxImage2:hover {
    cursor: pointer;
    filter:brightness(1.5);
}

.boxImage3 {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url('https://images7.alphacoders.com/888/thumb-1920-888752.jpg');
    height: 465px;
    background-size: cover;
    background-position: 50% 50%;
    transition: all 0.7s; 
    position: relative;   
    margin-top: 50px;
}

.boxImage3:hover {
    cursor: pointer;
    filter:brightness(2);
}

.imageBoxesTitle {
    position: absolute;
    bottom: 40px;
    padding: 24px;
}

.imageBoxesTitle span {
    font-size: 24px;
    color: white;
}

.divder {
    width: 40px;
    height: 2px;
    background-color: #e03d44;
    margin-top: 4px;
}

.bgblack {
    margin-top: 50px;
    background-color: rgba(42, 43, 47, 1);
    width: 100%;
    height: 465px;
    padding: 80px 40px;

}

.bgblack p,h3 {
    color: white;
}

.lead {
    font-size: 18px;
    margin-top: 10px;
}
.bgblack p {
    letter-spacing: 1px;
}

.bgblack h3 {
    font-size: 30px;
    letter-spacing: 2px;
}

h3::after {
    display: block;
    background-color: #e03d44;
    content: "";
    height: 2px;
    width: 80px;
    margin-top: 18px;  
}

.ctabtns {
    margin-top: 50px;
}

.buttom:hover {
    filter:brightness(0.8);
    font-size: 18px;
}



.buttom:link {
    text-decoration:none;
    cursor: pointer;
    font-weight: 200;
    border-radius: 8px;
    padding: 5px 12px;
    transition: all 0.5s;
}

.buttom:link,
.buttom:visited {
    background-color: white;
    color:rgba(42, 43, 47, 1);
}
.small {
    padding:0;
}

/*---角色關係圖---*/

.relation-title{
    height: 180px;
    width: 100%;
    background-color: black;
    padding: 60px 300px;
}

.relation-title h4{
    font-size: 60px;
    letter-spacing: 20px;
    color: #AAAAAA;
    transition: all 0.7s;
}

.relation-title h4:hover{
    filter:brightness(1.8);
    color: white;
}

.big {
    margin-top: 0;
}
 
.bg1 {
    margin-top: 20px;
    margin-left: 10px; 
    height: 284.4px;
    width: 100%;
    background-image: url("http://www.murera.com/starwars/images/starwars_infographic-03.jpg");   
    background-size: contain;
    background-repeat:no-repeat;
}

.bg2 {
    height: 355.5px;
    margin-left: 10px;
    width: 98.5%;
    background-image: url("http://www.murera.com/starwars/images/starwars_infographic-04.jpg");   
    background-size: contain;
    background-repeat:no-repeat;
    margin-bottom: 0;
}

.small-title {
    margin-top: 100px;
}

.small-title h2{
    font-size: 24px;
    letter-spacing: 3px;
    text-align: center;
}

.introduction{
    padding: 50px 100px;
}

#A{
    font-size: 18px;
    letter-spacing: 2px;    
}

.big2 {
    margin-top: 0;
    height: 776px;
}

.line {
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 170px;
    width: 700px;
    background-color: #e03d44;
}

.bg3 {
    margin-left: 10px;
    height: 375px;
    width: 100%;
    background-image: url("http://www.murera.com/starwars/images/starwars_infographic-06.jpg");   
    background-size: contain;
    background-repeat:no-repeat;
}

.bg4 {
    margin-left: 10px;
    height: 401px;
    width: 98.5%;
    background-image: url("http://www.murera.com/starwars/images/starwars_infographic-07.jpg");   
    background-size: contain;
    background-repeat:no-repeat;
    margin-bottom: 0;
}

.big2 {
    height: 776px;
}

.bg5 {
    margin-top: 30px;
    margin-left: 10px;
    height: 304px;
    width: 100%;
    background-image: url("http://www.murera.com/starwars/images/starwars_infographic-12.jpg");   
    background-size: contain;
    background-repeat:no-repeat;
}

.bg6 {
    margin-left: 10px;
    height: 420px;
    width: 98.5%;
    background-image: url("http://www.murera.com/starwars/images/starwars_infographic-11.jpg");   
    background-size: contain;
    background-repeat:no-repeat;
    margin-bottom: 0;
}

.big3 {
    margin-top: 0;
    height: 724px;
}


/*---角色---*/
.cha {
    margin-top: 0px;
}

.cha-photo {
    background-color: black;
    overflow: hidden;
}

.cha-photo img{
    width: 100%;
    opacity: 0.7;
    transform: scale(1.15);
    transition:  all 0.5s;
}

.cha-photo img:hover{
    opacity: 1.3;
}

/*---反饋---*/

.feedback {
    margin-top:0; 
    margin-bottom:0; 
    height: 100vh;
    background-image: url('https://images2.alphacoders.com/781/thumb-1920-781491.jpg');
    background-size: cover;
    background-position: center;
}

.container1 {
    margin-top:0;
    background-color:black;
    height: 100vh;
}

.smallphoto{
    width: 70px;
    border-radius: 50%;
    transition: all 0.4s;
}

.smallphoto:hover {
    transform: scale(0.95);
    filter:brightness(1.3);
}

.name {
    letter-spacing: 3px;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    color: white;
}

.name span {
    display: block;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.7;
}

.hd {
    padding: 0;
}

.box {
    margin: 55px auto 0 auto;
    padding: 0 40px 0 40px;
}

.box2 {
    margin: 0 auto 0 auto;
    padding: 0 40px 60px 40px;
}

.impression{
    padding-top: 0px;
}

.impression p{
    color: white;
    vertical-align:text-top;
    padding: 0;
    margin: 0;
}

/*---開放時間、地圖---*/

.contact{
    margin-top: 0;
}

.bgcolor {
    color: white;
    background-color: sienna;
    height: 480px;
    padding: 50px 70px 0 90px;
}

.bgcolor h2{
    font-size: 28px;
    letter-spacing: 6px;
}

.bgcolor2 h2{
    font-size: 28px;
    letter-spacing: 6px;
}

.bgcolor p{
    margin-top: 5px;
    font-size: 18px;
}

.bgcolor2 p{
    margin-top: 5px;
    font-size: 18px;
}

.email:hover{
    color: red;
}

.bgcolor2 {

    height: 480px;
    padding: 50px 70px 0 70px;
}

.divder2 {
    width: 55px;
    height: 2px;
    background-color: white;
    margin-top: 10px;
}

.divder3 {
    width: 55px;
    height: 2px;
    background-color: red;
    margin-top: 10px;
}

.map {
    width: 100%;
    height: 480px;
    margin-left: -13px;
}

/*---footer---*/

.footerbg {
    margin-top: 0;
    background-color: rgba(42,43,47,0.96);
    color: rgba(255,255,255,0.8);
    height: 400px;
    padding-top: 50px;
}

#about-me {
    padding-left: 70px; 
}

#about-me h5{
    font-size: 24px;
    letter-spacing: 4px;
}

#about-me p {
    letter-spacing: 2px;
}

.messenger2 h4{
    font-size: 24px;
    letter-spacing: 4px;
}

.messenger2 p{
    margin-bottom: 5px;
}

.messenger2 p,
.messenger2 a{
    letter-spacing: 2px;
}

.social-links {
    margin-top:4px;
    font-size: 18px;
}

.social-links li{
    display: block;
    margin-top: 10px;
}

.social-links li a{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}

.ion-social-facebook,
.ion-social-instagram,
.ion-social-googleplus,
.ion-social-github {
    margin: 8px;
    transition: all 0.4s;
}

.ion-social-facebook:hover {
    color:#3b5998;
}

.ion-social-instagram:hover {
    color: #bb5e00;
}

.ion-social-googleplus:hover {
    color:#dd4b39;
}

.ion-social-github:hover {
    color:#125688;
}

.iconbox {
    display: inline-block;
    width: 15px;
    text-align: center;
}

.copyright {
    margin-top: 0;
    background-color: rgb(38,39,46);
}

#mark {
    color: rgba(255, 255, 255, 0.4);
    line-height: 50px;
    font-size: 14px;
    margin:0 50px;
}

.copyright a{
    margin: 0 10px;
    line-height: 50px;
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4)
}

.footernav {
    float: right;
}

